    <mat-toolbar class="toolBar row" >
        <form class="login-form col-4 col-sm-12" *ngIf="!userDetails.firstName">
            <mat-form-field id="emailInput">
                <mat-label>אימייל</mat-label>
                <input matInput placeholder="אימייל" (change)="onEmailChange($event)">
            </mat-form-field>
            <mat-form-field id="passInput">
                <mat-label>סיסמא</mat-label>
                <input type="password" matInput (change)="onPasswordChange($event)">
            </mat-form-field>
            <button mat-raised-button color="primary" id="login-btn" (click)="login()">
                התחברות
            </button>
        </form>
        <img src="/img/Logo.png" id="logo" class="col-4">
        <div *ngIf="userDetails.firstName" id="welcome-container">
            <h5 *ngIf="userDetails.isAdmin === 0" id="welcome-user"> ברוך הבא {{userDetails.firstName}}</h5>
            <h5 *ngIf="userDetails.isAdmin === 1" id="welcomeAdmin">ברוך הבא {{userDetails.firstName}}</h5>

        </div>
        <!-- <button mat-button class="logoutBtn" (click)="logout()" color="warn">
            Logout
        </button> -->
        <button id="logout-Btn" *ngIf="userDetails.firstName" mat-raised-button class="logoutBtn" (click)="logout()" color="warn">
            התנתק
        </button>
        <button class="fb-btn-logged" (click)="openFB()" *ngIf="userDetails.firstName">
            <img src="/img/facebook.png" class="fb-Img">
        </button>
        <button class="fb-btn" (click)="openFB()" *ngIf="!userDetails.firstName">
            <img src="/img/facebook.png" class="fb-Img">
        </button>
        <button class="IG-Btn">
            <img src="/img/instagram.png" class="IG-Img">
        </button>
        <button class="WA-Btn">
                <img src="/img/whatsapp.png" class="WA-Img">
        </button>
    </mat-toolbar>
<div id="slider" style="object-fit: cover;">
    <ng-image-slider
    style="object-fit: cover;"
    [images]="imageObject" #nav
    [images]="imageObject"
    [infinite]="true"
    [autoSlide]="3"
    [imageSize]="{width: '400px', height: '40%'}"
    slideImage="1">
    </ng-image-slider>
</div>

<app-cart [Product]="addedProducts" [Cart]="cart" [isAdmin]="userDetails.isAdmin" [editDetails]="itemToEdit"></app-cart>
<app-products (productAdded)="addProductToCart($event)" (productEdit)="editProduct($event)" [isAdmin]="userDetails.isAdmin"></app-products>
