.toolBar {
    position: relative;
    top: 0;
    background-color:rgb(153,255,204);
    height: 100px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .toolBar {
        position: relative;
        top: 0;
        background-color: rgb(153,255,204);
        height: 170px;
        width: 100%;
    }
}

#slider {
    position: relative;
    top: 0;
    width: 1519px ;
}

@media screen and (max-width: 768px) {
    #slider {
        position: relative;
        top: 0;
        width: 100%;
        height: 175px;
    }
}

.fb-Img {
    width: 40px;
}

@media screen and (max-width: 768px) {
    .fb-Img {
        width: 25px;
    }
}

.fb-btn {
    position: absolute;
    background-color: rgb(153,255,204);
    border: none;
    left: 75%;
    transform: translate(-50%);  
    width: 40px;
}

.fb-btn-logged {
    background-color:rgb(153,255,204);
    border: none;
    position: absolute;
    left: 75%;
    transform: translate(-50%);  
    width: 40px;
    
}

@media screen and (max-width: 768px) {
    .fb-btn {
        background-color: rgb(153,255,204);
        border: none;
        position: relative;
        left: 50%;
        bottom: 25%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 40px;
    }
}

@media screen and (max-width: 768px) {
    .fb-btn-logged {
        background-color: rgb(153,255,204);
        border: none;
        position: relative;
        left: 75%;
        bottom: 25%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 40px;
    }
}

.IG-Btn {
    background-color: rgb(153,255,204);
    border: none;
    position: absolute;
    left: 80%;
    transform: translate(-50%);  
    width: 40px;
}

.IG-Btn-logged {
    background-color: rgb(153,255,204);
    border: none;
    position: absolute;
    left: 80%;
    transform: translate(-50%);  
    width: 40px;
}

@media screen and (max-width: 768px) {
    .IG-Btn {
        background-color: rgb(153,255,204);
        border: none;
        position: relative;
        left: 50%;
        bottom: 25%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 40px;     
    }
}

@media screen and (max-width: 768px) {
    .IG-Btn-logged {
        background-color: rgb(153,255,204);
        border: none;
        position: relative;
        left: 70%;
        bottom: 25%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 40px;     
    }
}

.IG-Img {
    width: 40px;
}

@media screen and (max-width: 768px) {
    .IG-Img {
        width: 25px;
    }
}

.WA-Btn {
    background-color:rgb(153,255,204);
    border: none;
    position: absolute;
    left: 85%;
    transform: translate(-50%);  
    width: 40px;
}

.WA-Btn-logged {
    background-color:rgb(153,255,204);
    border: none;
    position: absolute;
    left: 85%;
    transform: translate(-50%);  
    width: 40px;
}

@media screen and (max-width: 768px) {
    .WA-Btn {
        background-color: rgb(153,255,204);
        border: none;
        position: relative;
        left: 37%;
        bottom: 25%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 40px;
    }
}

@media screen and (max-width: 768px) {
    .WA-Btn-logged {
        background-color: rgb(153,255,204);
        border: none;
        position: relative;
        left: 49%;
        bottom: 25%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 40px;
    }
}



.WA-Img {
    width: 40px;
}

@media screen and (max-width: 768px) {
    .WA-Img {
        width: 25px;
    }
}

.material-icons {
    font-size: 50px;
}

@media screen and (max-width: 768px) {
    .material-icons {
        font-size: 30px;
    }
}

.login-form {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .login-form {
        width: 80px;
        font-size: 10px;
        margin-top: 210px;
    }
}

#emailInput{
    width: 80px;
    display:inline-block;
    padding: 20px;
}

#passInput{
    width: 80px;
    padding: 20px;
    margin-top: 15px;

}

@media screen and (max-width: 768px) {
    #emailInput{
        width: 80px;
        position: relative;
        display:inline-block;
        bottom: 120px;
        left: 240px;
    }
}

@media screen and (max-width: 768px) {
    #passInput{
        width: 80px;
        display:inline-block;
        bottom: 80px;
        left: 120px;
    }
}

#logo {
    height: 105px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    #logo {
        height: 130px;
        width: 190px;
        position: absolute;
        float: left;
        left: 0; 
        top: 0;
        top: 20px;
        left: 25px;
        transform: none;
    }
}

#login-btn {
    width: 30%;
    background-color: grey;
    
}

@media screen and (max-width: 768px) {
    #login-btn {
        position: relative;
        left: 20px;
        bottom: 37px;
        width: 100%;
        
    }
}

#welcome-user {
    text-align: center;
    position: relative;
    left: 300px;
}

@media screen and (max-width: 768px) {
    #welcome-user {
        position: absolute;
        text-align: center;
        left: 110px;
        bottom: 200px;
    }
}

.images {
    width: 379px;
    height: 379px;
    margin: auto;
}

#welcomeAdmin {
    text-align: center;
    position: relative;
    left: 300px;
}

@media screen and (max-width: 768px) {
    #welcomeAdmin {
        position: absolute;
        text-align: center;
        left: 110px;
        bottom: 200px;
    }
}

#logout-Btn {
    position: absolute;
    left: 0;
    left: 10px;
}

@media screen and (max-width: 768px) {
    #logout-Btn {
        position: absolute;
        bottom: 20px;
        left: 270px;
    }
}
