.toolBar {
    position: relative;
    top: 0;
    background-color: rgb(174, 239, 186);
    height: 320px;
    width: 1519px ;
}

@media screen and (max-width: 768px) {
    .toolBar {
        position: relative;
        top: 0;
        background-color: rgb(174, 239, 186);
        height: 320px;
        width: 100%;
    }
}

#slider {
    position: relative;
    top: 0;
    width: 1519px ;
}

@media screen and (max-width: 768px) {
    #slider {
        position: relative;
        top: 0;
        width: 150%;
    }
}

.fb-btn {
    background-color: rgb(174, 239, 186);
    border: none;
    color: blue;
    margin-left: 87px;
    width: 40px;
}

.fb-btn-logged {
    background-color: rgb(174, 239, 186);
    border: none;
    color: blue;
    margin-left: 100px;
    width: 40px;
}

@media screen and (max-width: 768px) {
    .fb-btn {
        background-color: rgb(174, 239, 186);
        border: none;
        position: relative;
        right: 6150px;
        bottom: 0;
        top: 140px;
    }
}

@media screen and (max-width: 768px) {
    .fb-btn-logged {
        background-color: rgb(174, 239, 186);
        border: none;
        position: relative;
        right: 6150px;
        bottom: 0;
        top: 140px;
    }
}


.IG-Btn {
    background-color: rgb(174, 239, 186);
    border: none;
    position: relative;
    width: 40px;
    left: 60px;
}

@media screen and (max-width: 768px) {
    .IG-Btn {
        background-color: rgb(174, 239, 186);
        border: none;
        position: absolute;
        bottom: 3px;
        left: 155px;
    }
}

.IG-Img {
    width: 40px;
}

@media screen and (max-width: 768px) {
    .IG-Img {
        width: 25px;
    }
}

.WA-Btn {
    background-color: rgb(174, 239, 186);
    border: none;
    position: relative;
    width: 40px;
    left: 110px;
}

@media screen and (max-width: 768px) {
    .WA-Btn {
        background-color: rgb(174, 239, 186);
        border: none;
        position: absolute;
        top: 285px;
        right: 70px;
        left: 200px;
    }
}

.WA-Img {
    width: 40px;
}

@media screen and (max-width: 768px) {
    .WA-Img {
        width: 25px;
    }
}

.material-icons {
    font-size: 50px;
}

@media screen and (max-width: 768px) {
    .material-icons {
        font-size: 30px;
    }
}

.login-form {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .login-form {
        width: 80px;
        font-size: 10px;
        margin-bottom: 180px;
    }
}


@media screen and (max-width: 768px) {
    #emailInput{
        width: 80px;
        display:inline-block;
    }
}

@media screen and (max-width: 768px) {
    #passInput{
        width: 80px;
        display:inline-block;
        bottom: 40px;
        left: 110px;

    }
}

#logo {
    height: 320px;
    width: 700px;
    margin-left: 225px;
}

#logoLogged {
    height: 320px;
    width: 700px;
    margin-left: 300px;
}

@media screen and (max-width: 768px) {
    #logoLogged {
        height: 250px;
        width: 300px;
        position: relative;
        right: 300px;
    }
}

@media screen and (max-width: 768px) {
    #logo {
        height: 220px;
        width: 310px;
        position: relative;
        right: 300px;
    }
}

#login-btn {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #login-btn {
        position: relative;
        bottom: 80px;
        left: 210px;
    }
}

#welcome-user {
    position: absolute;
    left: 100;
}

.images {
    width: 379px;
    height: 379px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    #welcomeAdmin {
        position: absolute;
        text-align: center;
        left: 100px;
        bottom: 280px;
    }
}

#logout-Btn {
    position: absolute;
    left: 0;
    left: 10px;
    top: 270px;
}


