<div class="container">
  <mat-accordion multi *ngIf="isAdmin === 0">
    <mat-expansion-panel class="expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="material-icons cart-icons">
            shopping_cart
          </span>        </mat-panel-title>
        <mat-panel-description>
           פתח\סגור את עגלת הקניות
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h5 id="ifEmpty" *ngIf="cartProducts.length == 0">העלה שלך ריקה</h5>
      <ng-container *ngIf="productsDetails.length > 0">
        <span *ngFor="let productDetail of productsDetails; let i = index">
          <p *ngFor= "let product of productDetail">
            מוצר: {{product.name}}
            <br />
            מחיר: {{product.price}}₪
            <br />
            <span *ngIf="cartProducts[i]">מחיר סופי למוצר:{{product.price*cartProducts[i].amount}}₪</span> 
            <br />
            <img class="cartImg" src="/img/{{product.img}}">
            <button mat-mini-fab class="decreaseBtn" (click)="decreaseAmount(cartProducts[i].productId)" color="secondary">
              <mat-icon>
                  remove
              </mat-icon>
            </button>
            <span class="amount" *ngIf="cartProducts[i]"> {{cartProducts[i].amount}} </span>
            <button mat-mini-fab class="increaseBtn" (click)="increaseAmount(cartProducts[i].productId)" color="secondary">
              <mat-icon>
                add
              </mat-icon>
            </button>
            <button mat-mini-fab class="deleteBtn" (click)="deleteItem(cartProducts[i].productId)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </p>
        </span>
      </ng-container>
      <br />
      <br />
      <p id="totalPrice">מחיר העגלה: <span class="totalPriceNumber">{{totalPrice}}</span> </p>
      <!-- <button mat-button class="deleteAllBtn" (click)="deleteAllItems()" color="warn">
          remove all products
      </button> -->
      <a href="/order"id="buyBtn">מעבר לתשלום</a>
    </mat-expansion-panel>
  </mat-accordion>


  <div class="container">
    <mat-accordion multi *ngIf="!isAdmin && isAdmin !== 0">
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="material-icons cart-icons">
              shopping_cart
            </span>        </mat-panel-title>
          <mat-panel-description>
             פתח\סגור את עגלת הקניות
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h5 id="ifEmpty" *ngIf="items.length === 0">העלה שלך ריקה</h5>
        <ng-container>
          <p *ngFor="let item of items; let i = index">
              מוצר: {{item.name}}
              <br />
              מחיר: {{item.price}}₪
              <br />
              <span *ngIf="items[i]">מחיר סופי למוצר:{{item.price * item.amount}}₪</span> 
              <br />
              <img class="cartImg" src="/img/{{item.img}}">
              <button mat-mini-fab class="decreaseBtn" (click)="unsignedDecreaseAmount(i)" color="secondary">
                <mat-icon>
                    remove
                </mat-icon>
              </button>
              <span class="amount" *ngIf="items[i]">{{item.amount}}</span>
              <button mat-mini-fab class="increaseBtn" (click)="unsignedIncreaseAmount(i)" color="secondary">
                <mat-icon>
                  add
                </mat-icon>
              </button>
              <button mat-mini-fab class="deleteBtn" (click)="unsignedDeleteItem(i)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </p>
        </ng-container>
        <br />
        <br />
        <p id="totalPrice">מחיר העגלה: <span class="totalPriceNumber">{{unsignedTotalPrice}}</span> </p>
        <!-- <button mat-button class="deleteAllBtn" (click)="deleteAllItems()" color="warn">
            remove all products
        </button> -->
        <span (click)="unsignedAlert()" id="buyBtn">מעבר לתשלום</span>
      </mat-expansion-panel>
    </mat-accordion>


  <div class="adminCart" *ngIf="isAdmin === 1">
    <h3>הוסף מוצר חדש</h3>
    <br />
    <div>
      <mat-form-field>
        <mat-label>שם המוצר</mat-label>
        <input matInput placeholder="לדוגמא: שייק תות ובננות" (change)="newProductNameHandler($event)">
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>מחיר</mat-label>
        <input matInput placeholder="לדוגמא: 40" (change)="newProductPriceHandler($event)">
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>קטגוריה</mat-label>
        <mat-select [(ngModel)]="selectCategory">
          <mat-option *ngFor="let category of categories" [value]="category._id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <span id="uploadFile">תמונה: <input type="file" (change)="handleFileInput($event.target.files)"></span>
      <br />
      <br />
      <button class="editItemBTN" mat-raised-button color="primary" (click)="addProduct()">הוסף מוצר חדש</button>
    </div>
    <br />
    <h3>לחץ על "ערוך מוצר" בכדי לשנות פרטים במוצר שברצונך לערוך</h3>
    <div *ngIf="editDetails.name">
      <mat-form-field>
        <mat-label>שם המוצר </mat-label>
        <input matInput value="{{editDetails.name}}" (change)="editProductNameHandler($event)">
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>מחיר</mat-label>
        <input matInput value="{{editDetails.price}}" (change)="editProductPriceHandler($event)">
      </mat-form-field>
      <br />
      <span id="uploadFile">תמונה <input type="file" (change)="editProductImgHandler($event.target.files)"></span>
      <br />
      <br />
      <button class="editItemBTN" mat-raised-button color="warn" (click)="editProduct()">ערוך את {{editDetails.name}}</button>
    </div>

  </div>
</div>