.title {
    text-align: center;
}


#field1 {
    position: absolute;
    left: 75%;
    transform: translate(-50%);  
    text-align: right;
    color: white;
}

@media screen and (max-width: 768px) {
    #field1 {
        left: 50%;
    }
}

#field2 {
    position: absolute;
    left: 52%;
    transform: translate(-50%); 
    text-align: right;

 }

    @media screen and (max-width: 768px) {
        #field2 {
            left: 50%;
            top: 200px;
        }
    }

#field3 {
    position: absolute;
    left:30%;
    transform: translate(-50%);  
    text-align: right;

}

@media screen and (max-width: 768px) {
    #field3 {
        left: 50%;
        top: 300px;
    }
}

#field4 {
    position: absolute;
    left: 10%;
    transform: translate(-50%);  
    text-align: right;

}

@media screen and (max-width: 768px) {
    #field4 {
        left: 50%;
    }
}

#field5 {
    left: 38%;
    transform: translate(-50%);  
}

@media screen and (max-width: 768px) {
    #field5 {
        left: 50%;
        top: 80px;
        z-index: 1000;
    }
}

#field6 {
    position: absolute;
    left: 63%;
    transform: translate(-50%);  
}

@media screen and (max-width: 768px) {
    #field6 {
        left: 50%;
        top: 230px;
    }
}
#field7 {
    position: absolute;
    left: 90%;
    transform: translate(-50%);  
}

@media screen and (max-width: 768px) {
    #field7 {
        left: 50%;
        top: 330px;
    }
}

@media screen and (max-width: 768px) {
    #next2 {
       display: inline;
       right: 1px;
       top: 20px;
       z-index: 1;
    }
}
@media screen and (max-width: 768px) {
    .next-div {
        width: 50px;
        z-index: 1;
    }
}

#note {
    color: #9FD0C4;
    font-family: 'Assistant', sans-serif;

}

#next1 {
    position: absolute;
    right: 1100px;
}

@media screen and (max-width: 768px) {
    #next1 {
        position: absolute;
       right: 150px;
       top: 350px;
    }
}

#details {
    color: red;
}


::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}


.toolBar {
    position: relative;
    top: 0;
    height: 230px;
    width: 100%;
    background-color: white;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .toolBar {
        position: relative;
        top: 0;
        background-color: white;
        height: 170px;
        width: 100%;
    }
}


.login-form {
    margin-bottom: 20px;
    position: absolute;
    left: 79%;
    transform: translate(-50%);  
}

@media screen and (max-width: 768px) {
    .login-form {
        width: 80px;
        font-size: 10px;
        height: 130px;
        left: 20%;
    }
}

#emailInput{
    width: 80px;
    display:inline-block;
    padding: 20px;
    left: 220px;
}

#passInput{
    width: 80px;
    padding: 20px;
    margin-top: 15px;

}

@media screen and (max-width: 768px) {
    #emailInput{
        width: 90px;
        position: relative;
        display:inline-block;
        left: 208px;
        bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    #passInput{
        width: 90px;
        display:inline-block;
        left: 78px;
        top: 30px;
       
    }
}

#logo {
    object-fit: cover;
    height: 210px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    #logo {
        height: 135px;
        width: 190px;
        position: absolute;
        float: left;
        left: 0; 
        top: 0;
        top: 20px;
        left: 25px;
        transform: none;
    }
}

#login-btn {
    width: 30%;
    background-color: grey;
    right: 220px;
}

@media screen and (max-width: 768px) {
    #login-btn {
        position: relative;
        top: 70px;
        width: 100%;
        right: 27px;
    }
}

.fb-Img {
    width: 100px;
}

@media screen and (max-width: 768px) {
    .fb-Img {
        width: 50px;
    }
}

.fb-btn {
    background-color: white;
    position: absolute;
    border: none;
    left: 11%;
    transform: translate(-50%);  
    width: 40px;
}

.fb-btn-logged {
    background-color: white;
    border: none;
    position: absolute;
    left: 12%;
    transform: translate(-50%);  
    width: 40px;
    
}

@media screen and (max-width: 768px) {
    .fb-btn {
        background-color: white;
        border: none;
        position: relative;
        left: 65%;
        top: 20%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 60px;
    }
}

@media screen and (max-width: 768px) {
    .fb-btn-logged {
        background-color: white;
        border: none;
        position: relative;
        left: 65%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 60px;
    }
}

.IG-Btn {
    background-color: white;
    border: none;
    position: absolute;
    left: 17%;
    transform: translate(-50%);  
    width: 40px;
}

.IG-Btn-logged {
    background-color: white;
    position: absolute;
    border: none;
    left: 17%;
    transform: translate(-50%);  
    width: 40px;
}

@media screen and (max-width: 768px) {
    .IG-Btn {
        background-color: white;
        border: none;
        position: relative;
        left: 64%;
        top: 20%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 60px;     
    }
}

@media screen and (max-width: 768px) {
    .IG-Btn-logged {
        background-color: white;
        border: none;
        position: relative;
        left: 65%;
        bottom: 25%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 60px;     
    }
}

.IG-Img {
    width: 100px;
}

@media screen and (max-width: 768px) {
    .IG-Img {
        width: 50px;
    }
}

.WA-Btn {
    background-color: white;
    border: none;
    position: absolute;
    left: 23%;
    transform: translate(-50%);  
    width: 40px;
}

.WA-Btn-logged {
    background-color: white;
    border: none;
    position: absolute;
    left: 23%;
    transform: translate(-50%);  
    width: 40px;
}

@media screen and (max-width: 768px) {
    .WA-Btn {
        background-color: white;
        border: none;
        position: relative;
        left: 63.5%;
        top: 20%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 60px;
    }
}

@media screen and (max-width: 768px) {
    .WA-Btn-logged {
        background-color: white;
        border: none;
        position: relative;
        left: 44%;
        bottom: 25%;
        margin-left: 0px;
        transform: translate(-50%, -50%);  
        width: 60px;
    }
}


.WA-Img {
    width: 100px;
}

@media screen and (max-width: 768px) {
    .WA-Img {
        width: 50px;
    }
}

#phone-number {
    position: absolute;
    border-radius: 25px;
    background:#9FD0C4;
    padding: 20px; 
    width: 250px;
    height: 10px;  
    top: 95px;
    left: 80%;
    transform: translate(-50%); 
    font-size: 30px;
    z-index: 9999;

}

#phone-number-pc {
    font-size: 25px;
    position: relative;
    right: 10px;
    bottom: 12px;
    color: white;
    width: 140px;
}

@media screen and (max-width: 768px) {
    #phone-number-pc {
        right: 18px;
    }
}

#container {
    background: transparent url("/img/nael.jpg");
    height: 100%;
    position: relative;
    background-size: cover;
    z-index: 100;
}
@media screen and (max-width: 768px) { 
    #container {
        width: 100vw;
        height: 100vh;
        background-position: center, center;
    }
}

::ng-deep mat-horizontal-stepper  {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%); 
    flex-direction: column-reverse !important;
    height: auto;
    background-image: url("/img/nael2.png");
    width: 98%;
    height: 0.01px;
    width: 70%;
}

@media screen and (max-width: 768px) {
    ::ng-deep mat-horizontal-stepper {
        width: 100%;
    }
}

::ng-deep .mat-step-header .mat-step-icon {
    background-color: white;
    color: red;
}

.matlabel{
    color: white;
}


::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #9FD0C4; 
 }


 #welcome {
     color: #9FD0C4;
     font-size: 50px;
     position: relative;
     top: 20px;
     display: inline;
     font-family: 'Assistant', sans-serif;
 }

 #text {
     color: white;
     font-family: 'Assistant', sans-serif;

 }

 ::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   background-color: white !important;;
  }

  ::ng-deep mat-label {
      color: white;
  }

