<mat-toolbar class="toolBar row" >
  <img src="/img/Logo.png" id="logo" class="col-4">
  <!-- <button mat-button class="logoutBtn" (click)="logout()" color="warn">
      Logout
  </button> -->
  <button class="fb-btn" (click)="openFB()">
      <img src="/img/facebook.png" class="fb-Img">
  </button>
  <button class="IG-Btn" (click)="openIG()">
      <img src="/img/instagram.png" class="IG-Img">
  </button>
  <button class="WA-Btn">
      <img src="/img/whatsapp.png" class="WA-Img">
  </button>
  <div id="phone-number">
      <span id="phone-number-pc"> 05222222222</span>
  </div>
</mat-toolbar>
<div id="container">
  <div class="title">
      <h1 id="welcome">!ברוכים הבאים</h1>
      <h3 id="text">
          .הגעת לטופס יצירת משתמש כדי להתחיל איתנו את הדרך
          <br />
            !אנא מלא את הפרטים הבאים ואת הכתובת המדויקת כדי שהמשלוח יגיע עד אלייך
        </h3>
      <h2 id="note"> כפתור "המשך" יופיע רק לאחר שכל הפרטים נרשמו בצורה נכונה</h2>
      <h3 id="text">
         !מחכים לך
         <br />
         Super Fruit
      </h3>
  </div>
  <mat-horizontal-stepper #stepper [linear]="isLinear" #stepper class="register-form" linear>
      <mat-step [stepControl]="firstFormGroup">
        <br />
        <br />
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>אימייל וסיסמא</ng-template>
            <mat-form-field id="field1">
              <mat-label>אימייל</mat-label>
              <input matInput [(ngModel)]="email" formControlName="firstCtrl" required>
          </mat-form-field>
          <mat-form-field id="field2">
              <mat-label>סיסמא</mat-label>
              <input type="password" matInput [(ngModel)]="password" formControlName="firstCtrl" required>
          </mat-form-field>
          <mat-form-field id="field3">
              <mat-label>אישור סיסמא</mat-label>
              <input type="password" matInput [(ngModel)]="confirmPassword" formControlName="firstCtrl" required>
          </mat-form-field>
          <div *ngIf="email && password && confirmPassword && password === confirmPassword">
            <button mat-button matStepperNext id="next1">המשך</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>מידע אישי וכתובת</ng-template>
          <mat-form-field id="field4">
              <mat-label>עיר</mat-label>
              <input matInput [(ngModel)]="city" formControlName="secondCtrl" required>
            </mat-form-field>
          <mat-form-field id="field5">
              <mat-label>רחוב ומספר דירה</mat-label>
              <input matInput [(ngModel)]="street" formControlName="secondCtrl" required>
          </mat-form-field>
          <mat-form-field id="field6">
              <mat-label>שם פרטי</mat-label>
              <input matInput [(ngModel)]="firstName" formControlName="secondCtrl" required>
          </mat-form-field>
          <mat-form-field id="field7">
              <mat-label>שם משפחה</mat-label>
              <input matInput [(ngModel)]="lastName" formControlName="secondCtrl" required>
          </mat-form-field>
          <div class="next-div">
            <button mat-button matStepperPrevious>חזור</button>
            <button mat-button matStepperNext id="next2" *ngIf="city && street && firstName && lastName">המשך</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>סיום</ng-template>
        <p>פרטייך הוזנו בהצלחה. יש לוודא כי הפרטים נכונים וללחוץ על אישור</p>
        <h4 id="details">
          אימייל: {{email}}
          <br />
          עיר: {{city}}
          <br />
          רחוב ומספר דירה: {{street}}
          <br />
            שם פרטי: {{firstName}}
            <br />
            שם משפחה: {{lastName}}
        </h4>
        <p>אם כל הפרטים נכונים יש ללחוץ על אישור. לאחר מכן תוכל להתחבר ולהתחיל לרכוש מוצרים</p>
        <div>
          <button mat-button matStepperPrevious>חזרה</button>
          <button mat-button (click)="register()">אישור</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
</div>
  