.categories-container {
    position: absolute;
    left: 43.5%;;
    bottom: 40%;
}

.categories-container-admin {
    position: absolute;
    left: 43.5%;;
    bottom: 40%;
}

@media screen and (max-width: 768px) {
    .categories-container-admin {
        position: absolute;
        overflow:auto;
        width: 30%;
        height: 100px;
        top: 71%;
    }
}

@media screen and (max-width: 768px) {
    .categories-container {
        position:static;
        overflow:auto;
        width: 100%;
        height: 100px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 768px) {
    .categories {
        position: relative;
    }
}

.categories {
    color: black;
    background-color: rgb(174, 239, 186);
}

.products-container {
    position: absolute;
    width: 59%;
    top: 430px;
    left: 620px;
}

@media screen and (max-width: 768px) {
    .products-container {
        position: static;
        width: 100%;
        top: 0;
        left: 0;
    }
}

.card{
    background-color:rgb(228,201,192);
    
}

.column {
    float: left;
    width: 25%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border: 1px rgb(228,201,192);
  }

@media screen and (max-width: 768px) {
    .column{
        width: 50%;
        display: inline;
        float: left;
    }
}

.img {
    width: 150px;
    height: 150px;
    padding: 20px;
}
@media screen and (max-width: 768px) {
    .img {
        height: 200px;
        position: relative;
        right: 20px;
        width: 100%;
    }
}

.product-title {
    position: relative;
    text-align: center;
    display: inline;
    bottom: 20px;
}


@media screen and (max-width: 768px) {
    .product-title {
        left: 0px;
    }
}

.product-price {
    text-align: center;
    position: relative;
    bottom: 200px;
}

@media screen and (max-width: 768px) {
    .product-price {
        left: 0px;
        bottom: 250px;
    }
}

.addBTN {
    position: relative;
    width: 80px;
    color: black;
    background-color: rgb(174, 239, 186);
}

@media screen and (max-width: 768px) {
    .addBTN {
        right: 0px;
    }
}

.fruitsText {
    position: absolute;
    color: red;
    left: 800px;
    top: 0;
    top: 100px;
}

.searchInput {
    position: relative;
    right: 160px;
    bottom: 25px;
}

@media screen and (max-width: 768px) {
    .searchInput {
        position: relative;
        width: 200%;
        bottom: 20px;
        left: 90px;
    }
}

.search {
    width: 100px;
}

button.mat-button {
    border-radius: 0;
 }

.btn-align {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}